streamlit==1.39.0
groq==0.11.0  # Atualize para corrigir bugs de proxies
openai==1.47.0
pdfminer.six==20231228
fpdf==1.7.2
plotly==5.24.1
pandas==2.2.3
numpy==2.1.2
kaleido==0.2.1
requests==2.32.3
httpx==0.27.0  # Adicione explicitamente
gspread==6.1.2  # Para integração com Google Sheets
google-auth==2.35.0  # Para autenticação
google-auth-oauthlib==1.2.1  # Suporte adicional
uuid==1.30  # Para gerar IDs de sessão únicos